################################################################################
# Docker Compose file for starting up the service for testing in GitHub workflow
# This template provides comparable infrastructure to the real environment.
#   - mongodb
#   - localstack (s3, sqs, sns)
#   - zap
#
# Both mongo and localstack have init scripts included for setting up resources
# on startup. These scripts are in docker/scripts.
#
# It also includes a selenium-chrome container for running the browser headless.
#
# The services being tested can either be started up here using the latest
# builds from dockerhub.
# In the example each service has a .env config file in docker/config/
# Services can reference each other by their container names.
# e.g. http://cdp-example-node-backend:3001/
#
################################################################################
name: epr-backend-journey-tests

services:
  mongodb:
    image: mongo:7.0.28
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - ./docker/scripts/mongodb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ['CMD', 'mongosh', '--eval', 'db.hello().ok']
      interval: 5s
      start_period: 5s
      retries: 3

  localstack:
    image: localstack/localstack:3.2.0
    environment:
      - LOCALSTACK_HOST=127.0.0.1
      - SERVICES=s3,sqs,sns,dynamodb
      - LS_LOG=WARN
    env_file:
      - ./docker/config/defaults.env
    volumes:
      - ./docker/scripts/localstack:/etc/localstack/init/ready.d
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    healthcheck:
      test: ['CMD', 'test', '-f', '/tmp/READY']
      interval: 5s
      start_period: 5s
      retries: 10
    networks:
      - cdp-tenant

  redis:
    image: redis:7.2.11-alpine3.21
    ports:
      - '6379:6379'
    restart: always
    healthcheck:
      test: ['CMD', 'redis-cli', 'PING']
      interval: 5s
      start_period: 2s
      retries: 5
    networks:
      - cdp-tenant

  cdp-uploader:
    image: defradigital/cdp-uploader:${CDP_UPLOADER_VERSION:-latest}
    ports:
      - '7337:7337'
    links:
      - 'localstack:localstack'
      - 'redis:redis'
    depends_on:
      localstack:
        condition: service_healthy
    env_file:
      - 'docker/config/aws.env'
    environment:
      VIRTUAL_HOST: ~^uploader\..*\.sslip\.io
      VIRTUAL_PATH: /
      VIRTUAL_PORT: 7337
      PORT: 7337
      NODE_ENV: development
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
      MOCK_VIRUS_SCAN_ENABLED: true
      MOCK_VIRUS_RESULT_DELAY: 3
      SQS_ENDPOINT: http://localstack:4566
      S3_ENDPOINT: http://localstack:4566
      CONSUMER_BUCKETS: re-ex-summary-logs
    networks:
      - cdp-tenant

  epr-re-ex-entra-stub:
    image: defradigital/epr-re-ex-entra-stub:latest
    ports:
      - 3010:3010
    environment:
      STUB_INTERNAL_URL: http://epr-re-ex-entra-stub:3010
    healthcheck:
      test: ['CMD', 'curl', 'http://localhost:3010/health']
      interval: 3s
      start_period: 2s
      retries: 3
    networks:
      - cdp-tenant

  defra-id-stub:
    image: defradigital/cdp-defra-id-stub:${DEFRA_ID_STUB_VERSION:-latest}
    ports:
      - '3200:3200'
    depends_on:
      redis:
        condition: service_started
    environment:
      APP_BASE_URL: http://defra-id-stub:3200
      NODE_ENV: development
      OIDC_BASE_PATH: /cdp-defra-id-stub
      OIDC_CLIENT_ID: 63983fc2-cfff-45bb-8ec2-959e21062b9a
      OIDC_CLIENT_SECRET: test_value
      OIDC_SHOW_LOGIN: true
      PORT: 3200
      REDIS_HOST: redis
      SESSION_CACHE_ENGINE: redis
      USE_SINGLE_INSTANCE_CACHE: true
    networks:
      - cdp-tenant

  cognito-stub:
    image: jagregory/cognito-local:5.1.0
    ports:
      - '9229:9229'
    volumes:
      - ./compose/cognito-local/clients.json:/app/.cognito/db/clients.json
      - ./compose/cognito-local/local_4D8shcYm.json:/app/.cognito/db/local_4D8shcYm.json
    networks:
      - cdp-tenant

  ################################################################################

  epr-backend:
    image: defradigital/epr-backend:${EPR_BACKEND:-latest}
    build:
      context: ../epr-backend
      target: development
    env_file:
      - ./docker/config/defaults.env
      - ./docker/config/example-backend.env
    environment:
      ADMIN_UI_ENTRA_CLIENT_ID: clientId
      APP_BASE_URL: http://epr-backend:3001
      AUDIT_ENABLED: true
      CDP_UPLOADER_URL: http://cdp-uploader:7337
      COMMAND_QUEUE_SQS_ENDPOINT: http://localstack:4566
      DEFRA_ID_CLIENT_ID: 63983fc2-cfff-45bb-8ec2-959e21062b9a
      DEFRA_ID_OIDC_WELL_KNOWN_URL: http://defra-id-stub:3200/cdp-defra-id-stub/.well-known/openid-configuration
      ENTRA_OIDC_WELL_KNOWN_CONFIGURATION_URL: http://epr-re-ex-entra-stub:3010/.well-known/openid-configuration
      FEATURE_FLAG_DEV_ENDPOINTS: true
      FEATURE_FLAG_PACKAGING_RECYCLING_NOTES_EXTERNAL_API: true
      FEATURE_FLAG_PACKAGING_RECYCLING_NOTES: true
      FEATURE_FLAG_SQS_COMMANDS: true
      FEATURE_FLAG_SUMMARY_LOGS: true
      GOVUK_NOTIFY_API_KEY: /run/secrets/govuk_notify_api_key
      LOCALSTACK_ENDPOINT: http://localstack:4566
      LOG_FORMAT: ecs
      MONGO_URI: mongodb://mongodb:27017/
      NODE_ENV: development
      PACKAGING_RECYCLING_NOTES_EXTERNAL_API_CLIENT_ID: 5357lgchj0h0fuomqyas5r87u
      PACKAGING_RECYCLING_NOTES_EXTERNAL_API_JWKS_URL: http://cognito-stub:9229/local_4D8shcYm/.well-known/jwks.json
      PORT: 3001
      SERVICE_MAINTAINER_EMAILS: '["ea@test.gov.uk"]'
      SQS_ENDPOINT: http://localstack:4566
    ports:
      - '3001:3001'
    depends_on:
      cognito-stub:
        condition: service_started
      defra-id-stub:
        condition: service_started
      epr-re-ex-entra-stub:
        condition: service_healthy
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'node', '-e', "fetch('http://localhost:3001/health').then(r=>{if(!r.ok)process.exit(1)}).catch(()=>process.exit(1))"]
      interval: 3s
      start_period: 2s
      retries: 3
    networks:
      - cdp-tenant

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant
